{% extends 'app/base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="login-body">
    <div class="login-image">
        <img src="{% static 'img/login.jpg' %}" alt="Login!">
    </div>
    <div class="login-box">
        <form action="" method="POST">
            {% csrf_token %}
            <img width="50px" height="50px" src="{% static 'img/user_login.png' %}" alt="User Login">
            <label for="username">نام کاربری</label>
            <input type="text" name="username" id="username">
            <label for="password">رمز عبور</label>
            <input type="password" name="password" id="password">
            <input type="button" id="button" value="تایید">
        </form>
    </div>
</div>

{% endblock %}